/* ==========================================================================
   Chat message metadata & notes
   ========================================================================== */

/* For the message notes on light mode */
.message-note, .running-totals {
  opacity: 0.7;
}

@media (prefers-color-scheme: dark) {
  /* For the message notes on dark mode */
  .message-note, .running-totals {
    opacity: 0.5;
  }
  .modal-card-body {
    // remove this once https: //github.com/jloh/bulma-prefers-dark/pull/90 is merged and released
   background-color: $background-dark;
  }
}

/* ==========================================================================
   Sidebar menu & list layout
   ========================================================================== */

/* Support for copy code button */
.code-block>button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

/* Make menu stick on the left side */
.menu {
  position: sticky;
  top: 1rem;
}

/* Delete button on side menu chat name */

.menu-list {
  a:hover {
    .delete-button, .edit-button {
      display: block !important;
      background-color: initial;
    }
  }
  .delete-button, .edit-button {
    opacity: .8;
  }
  
  .delete-button:hover, .edit-button {
    opacity: 1;
  }
}

